.avatar-header {
  width: 100%;
  height: 400px;
  background-color: #f4e8f4;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar-picture {
  
}

.avatar-name {
  margin-top: -15px;
}
